@charset "UTF-8";
@font-face {
    font-family: "Betel0";
    src: url(fontes/Laviossa-Medium.otf) format(opentype);
    font-weight: normal;
}
@font-face {
    font-family: "Betel1";
    src: url(fontes/AbrilFatface-Regular.ttf);
    font-weight: normal;

}
@font-face {
    font-family: "Betel2";
    src: url(fontes/Birds\ of\ Paradise.ttf);
    font-weight: bold;
}
:root {

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Betel0', cursive;
    --font-nome:'Betel1', cursive;
    --font-vers:'Betel2', cursive;
    --cor01: #fceed6d5;
    --cor02: #faf3d0f1;
    --cor03: #eea197;
    --cor04: #ec7070;

}
*{
    margin: 0px;
    padding: 0px;
}
body{/*plano de fundo do site*/
    background-image: linear-gradient(to right, var(--cor03), #faf3d0f1, #eea197);
    background-color: white;
}
header{/*Cabeçalho Inicial*/
    background-image: linear-gradient(to bottom, var(--cor01), var(--cor04));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
nav{/*Estrutura dos botões*/
    background-color: rgba(165, 42, 42, 0.623);
    padding:10px;
    box-shadow: 0px, 7px, 9px (0,0,0, 0.315);
}
nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: .3s;
}
nav > a:hover{
    background-color: var(--cor03);
    color: brown;
}
header > h1{/*titulo inicial*/
    color: rgb(191,72, 72);
    font-family:var(--font-nome);
    font-size: 3em;
    margin-bottom: 40px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.603);

}header > p1 {/*versiculo*/
    color: black;
    font-family: var(--font-destaque);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}
main{/*estrutura completa*/
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 5px;
    background-color: white;
    box-shadow: 0px, 0px, 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
div.video{ /*Configuração para videos*/
    background-color: var(--cor03);
    margin: 0px -20px 30px -10px;
    padding: 20px;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
img{
    margin-left: 25%;
    max-width: 350%;
}
main > article > h1{/*meu titulo inicial*/
    color: rgb(191,72, 72);
    font-family: var(--font-nome);
    font-size: 1.15cm;
    text-align: left;
}
main > aside > h2{/*são os meus titulos secundarios*/
    color: rgb(191,72, 72);
    font-family: var(--font-nome);
    font-size: 1.8em;
    text-align: left;
}
main > aside > h3{/*antes do video*/
    background-color: var(--cor04);
    color: white;
    font-family: var(--fonte-padrao);
    padding: 5px;
}
ul {/*todas as listas*/
    color: black;
    font-family: var(--font-destaque);
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
}
abbr{/*são as abreviações*/
    text-decoration: nome;
    font-weight: bold;
    color: brown;
}
p {/*todos os paragrafos*/
    color: black;
    font-family: var(--fonte-padrao);
    text-align: justify;
    margin: 15px, 0px;
    text-indent: 30px;
    line-height: 1.2em;
    font-size: 1em;
}
strong{/*tudo que está em negrito*/
    color: brown;
    font-weight: bold;
}
footer{/*Roda Pe*/
    background-image: linear-gradient(to right, var(--cor03), #faf3d0f1, #eea197);
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}